<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
    <p> Registration Page: Please Enter Email and Password<p>
    <form action="/register" method="POST" style="margin:1px;">
      <input id="email" type="email" name="email" placeholder="example@net.ca" style="width: 100px">
      <input id="password" type="password" name="password" placeholder="*******" style="width: 100px">
      <input type="submit" value="Register">
    </form>
  </body>
</html>
