<!DOCTYPE html>
<html lang="en">
<header>Login Page</header>
<body>
  <form action="/login" method="POST" style="margin:50px;">
      <label for="username">Please Enter Your Username:</label>
      <input id="username" type="text" name="username" placeholder="Type username here" style="width: 300px">
      <input id="password" type="password" name="password" placeholder="*******" style="width: 100px">
      <input type="submit" value="Login">
  </form>
</body>
</html>
